image: "rust:latest"

stages:
    - lint
    - test

variables:
  CARGO_HOME: $CI_PROJECT_DIR/cargo

lint:fmt:
    stage: lint
    before_script:
        - rustup component add rustfmt
    script:
        - cargo fmt -- --check

lint:clippy:
    stage: lint
    before_script:
        - apt update -yqq
        - apt install -yqq --no-install-recommends libgtk-4-dev
        - rustup component add clippy
    script: cargo clippy --all-features -- --deny warnings

.test: &test
    stage: test
    before_script:
        - apt update -yqq
        - apt install -yqq --no-install-recommends libgtk-4-dev
        - MODE=$(echo "$CI_JOB_NAME" | cut -d ':' -f 2)
        - test "$MODE" == "release" && CARGO_FLAGS='--release' || CARGO_FLAGS=''
    script:
        - rustc --version && cargo --version
        - cargo test --all-features $CARGO_FLAGS

test:debug:
    <<: *test

test:release:
    <<: *test

cache:
    paths:
        - $CARGO_HOME
        - target/
